<a href="https://colab.research.google.com/github/akshyan/AI-ML-REPO/blob/feature-google-colab/Python_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Assignment 1 2020-27-06

> Indented block

1. Write a program which will find all such numbers which are divisible by 7 but are not a
multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [19]:
num = list(range(2000,3201))
newlst=[]
for i in num:
  if (i%7 == 0) and (i%5 != 0) :
    newlst.append(i)
    
newlst

[2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079]

2. Write a Python program to accept the user's first and last name and then getting them
printed in the the reverse order with a space between first name and last name.

In [36]:
first_name=input("firstname:")
last_name=input("last_name:")
print('{} {}'.format(last_name,first_name))

firstname:Sekhar
last_name:Barik
Barik Sekhar

3. Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r 3

In [37]:
d=12
r=12/2
pi = 3.14
V=4/3*pi*r**3
V

904.3199999999999